@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* For light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#5138EE";
  --color-secondary: "#EDEDED";
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
